/*
  Common stuff in all pages
*/

#loading {
  height: 100vh;
  width: 100vw;
}

#loading div {
  margin: 0 auto;
}

#division {
  padding: 1px;
  min-height: 50vh;
}

#loggedStatus {
  position: absolute;
  top: 0em;
  right: 10px;
}

#profilePic {
  border: 1px solid black;
  height: 3em;
  margin: 0 2vh;
}

#cubetasticLogo, #instagramLogo {
  width: 2em;
  margin-bottom: -0.5em;
}

/*
  Home Page
*/

#homePage {
  min-height: 90vh;
  padding: 1px;
}

.intro img {
  margin-top: 1.5em;
  width: 3em;
}

.intro i {
  margin-top: 1em;
  padding: 0.5em;
}

.class-box {
  height: 7em;
  cursor: pointer;
}

.class-box h5 {
  width: 100%;
  text-align: center;
}

/*
  Timetable
*/

.break {
  background-color: black;
  color: white;
}

/*
Sign up and Sign in Forms
*/

#formHeading {
  border-radius: 7px 7px 0 0;
  font-family: righteous;
  font-size: 250%;
}

#signUp, #signIn {
  border-bottom: 2px solid blue;
  border-left: 2px solid blue;
  border-right: 2px solid blue;
  border-radius: 0 0 7px 7px;
  margin-top: -1.5em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

/*
  Memes
*/

#newPostBtn {
  width: 100vw;
}

.like {
  font-size: 30px;
}

/*
  Discuss
*/

iframe {
  height: 75vh;
  width: 100vw;
}
