<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>500 Internal Server Error | Fiitjians cbe</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>
<body>
  <style>
    #message {
      margin: 5vw;
      padding: 1px;
    }
  </style>
  <div id="message" class="card yellow">
    <h3 class="center">500 Internal Server Error</h3>
    <p class="flow-text">
      Oops! This is an Internal Server Error.
      <br>
      Things you can try:
      <ul>
        <li>•The most likely reason is that we couldn't recongise your IP Address. In that case, please go to our <a href="/" class="green-text">home page</a>, and then click on your class.</li>
        <li>•If you already tried that, then it could mean that the source code taken from the fiitjee login website is not as it is supposed to be.</li>
        <li>•Otherwise, it could mean that this website is temporarily under maintanence.</li>
        <li>•If it was not the first case, then please wait for a while, and try to tell the site admins about this.</li>
      </ul>
    </p>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</html>