{% extends 'layout.html' %}

{% block title %}Fiitjians cbe{% endblock %}

{% block body %}
<div id="homePage">
  <div class="section white">
      <div class="row container">
        <h4>Welcome to Fiitjians Cbe!</h4>
        <ul class="collection col s12">
          <li class="collection-item avatar" style="cursor: pointer" onclick="saveIp('9 A1')">
            <img src="images/10.jpg" alt="10th" class="circle">
            <span class="title">Class: Ten A<sub>1</sub></span>
            <p>
              Given by: Aravindan
            </p>
          </li>
          <li class="collection-item avatar" style="cursor: pointer" onclick="saveIp('9 B')">
            <img src="images/10.jpg" alt="10th" class="circle">
            <span class="title">Class: Ten B</span>
            <p>
              Given by: Aditya Radhakrishnan
            </p>
          </li>
          <li class="collection-item avatar" style="cursor: pointer" onclick="saveIp('11 A3')">
            <img src="images/12.svg" alt="12th" class="circle">
            <span class="title">Class: Twelve A<sub>?</sub></span>
            <p>
              Given by: Nirmal Karthikeyan
            </p>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle red">add</i>
            <span class="title">Add Your Class</span>
            <p>Is your class not on this list? Contact Aravindan K (9 A<sub>1</sub>) or Aditya R (9 B) to add your class.</p>
          </li>
        </ul>
      </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
  $.ajax({
    url: '/get_ip_address',
    type: 'POST',
    success: function(response) {
      console.log(response);
      window.ipAddress = response;
    },
    error: function(error) {
      console.log('Error', error);
    }
  });
  function saveIp(className) {
    db.ref('ipAddresses').child(ipAddress.replace(/\./g,' ')).set(className);
    Materialize.toast('Please wait...');
    console.log(className);
    db.ref('ipAddresses').on('value', function(data) {
      if (data.child(ipAddress.replace(/\./g,' ')).val() == className) {
        window.location.href = 'timetable.html';
      }
    });
  }
</script>
{% endblock %}