<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Welcome to Fiitjians cbe! This is a website built so that you can see your class timetables in a nice, clean and fast user interface.">
  <meta name="theme-color" content="#03A9F4">
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" href="images/icons/icon-384x384.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich|Audiowide|Righteous|Viga">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="css/main.css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112091281-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-112091281-2');
  </script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
<body>
  <div id="loading" class="valign-wrapper">
    <div class="preloader-wrapper active">
      <div class="spinner-layer spinner-red-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="hidden" style="display: none">
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper blue">
          <a href="#" data-activates="mobile-menu" class="button-collapse btn red">
            <i class="material-icons">menu</i>
          </a>
          <a href="index.html" id="websiteTitle" class="brand-logo center">Fiitjians</a>
          <ul class="hide-on-med-and-down">
            <li><a href="/index.html" class="black-text">Home</a></li>
            <li><a href="/projects.html" class="black-text">Projects</a></li>
            <li><a href="/memes.html" class="black-text">Memes</a></li>
          </ul>
        </div>
        <div id="loggedStatus"></div>
      </nav>
    </header>
    <ul id="mobile-menu" class="side-nav">
      <li><a href="/index.html">Home</a></li>
      <li><a href="/projects.html">Projects</a></li>
      <li><a href="/memes.html">Memes</a></li>
    </ul>
    {% block body %}{% endblock %}
    <footer class="page-footer blue">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Fiitjians Coimbatore</h5>
            <p class="grey-text text-lighten-4">Created by Aravindan & Aditya.</br>
            This website and its contents are not affiliated with FIITJEE or its localised branch. For more, see our <a href="legal.html" class="red-text">legal statement</a>.</br><br>
            <a class="github-button" href="https://github.com/cubetastic33/fiitjians-cbe" data-size="large" data-show-count="true" aria-label="Star cubetastic33/fiitjians-cbe on GitHub">Star</a><br><br>
            For help or support contact us:</br>
            Aditya Radhakrishnan: adityaradk@gmail.com</br>
            Aravindan: aravkasi@gmail.com
            </p>
          </div>
          <div class="col l4 offset-l2 hide-on-small-only">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="https://botperson.github.io/">Aditya's Site</a></li>
              <li><a class="grey-text text-lighten-3" href="https://cubetastic33.github.io/">Aravind's Site</a></li>
              <li><a class="grey-text text-lighten-3" href="https://hangouts.google.com/group/zNFhUctn4kZbZunB3badges.html">IX B only Hangouts group</a></li>
            </ul>
            <a class="github-button" href="https://github.com/botperson" data-size="large" data-show-count="true" aria-label="Follow @botperson on GitHub">Follow @botperson</a>
            <a class="github-button" href="https://github.com/cubetastic33" data-size="large" data-show-count="true" aria-label="Follow @cubetastic33 on GitHub">Follow @cubetastic33</a>
          </div>
        </div>
      </div>
      <div class="footer-copyright" id="FooterBase">
        <div class="container">
          © 2018 Copyright Aravindan and Aditya Radhakrishnan.
        </div>
      </div>
    </footer>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  function hideloader() {
    $("#loading").hide();
    $("#hidden").show();
  }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
<script src="js/main.js"></script>
<script src="js/loggedStatus.js"></script>
{% block javascript %}
{% endblock %}
</html>
