{% extends 'layout.html' %}

{% block title %}Fiitjians cbe | Memes{% endblock %}

{% block body %}
<div id="division">
  <div id="signinreqmessage" style="display: none">Welcome to Nine A<sub>1</sub>'s official memes page! Here, you can see and create new memes.<br>
  Please note that you need to sign in to see private memes, and you need to be signed in with an 
  authorised account to be able to see memes that require authorisation. For more details, please 
  contact me, @ class 9A<sub>1</sub>, 1<sup>st</sup> floor, last class in the left side once you 
  turn right.</div>
  <div id="signinreq" style="display: none">
    <p>
      Welcome to 9 A1's official meme page! Featured meme creators from instagram, such as:
    </p>
    <ul class="collection">
      <li class="collection-item">be.like.a1</li>
      <li class="collection-item">suda_suda_memes</li>
    </ul>
    <p>have agreed to start posting their memes here!</p>
    <span id="button">
      <button id="newPostBtn" data-target="newPost" class="btn modal-trigger waves-effect waves-light btn black">New post</button>
    </span>
    <div id="newPost"class="modal">
      <div class="modal-content">
        <h4>New Post</h4>
        <form id="newPostForm">
          <div class="input-field">
            <select id="category">
              <option value="" disabled selected>Category</option>
              <option value="public">Public</option>
              <option value="private">Private</option>
              <option value="authorisationReq">Authorisation Required</option>
            </select>
          </div>
          <div class="file-field input-field">
            <div class="btn">
              <span>Image</span>
              <input type="file" id="postImage" accept="image/*">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
          <div class="input-field">
            <textarea id="description" class="materialize-textarea" required></textarea>
            <label for="description">Enter image description here</label>
          </div>
          <p>
            Tags: example - #helloWorld, #myFirstTag
            <div id="tags" class="chips"></div>
          </p>
          <p>
            <input type="checkbox" id="anonymous">
            <label for="anonymous">Anonymous</label>
          </p>
        </form>
      </div>
      <div class="modal-footer">
        <a href="#!" id="postBtn" class="modal-action modal-close btn-flat">Post</a>
      </div>
    </div>
    <div id="memes"></div>
  </div>
</div>
{% endblock %}
{% block javascript %}
<script src="js/memes.js"></script>
<script>
  $(document).ready(function() {
    showOldPosts();
  });
</script>
{% endblock %}